html,
body{
	margin:0px;
	padding: 0px;
	height:100%;
	width: 100%;
	scroll-behavior: smooth;

}

#navigation {
	 overflow: hidden;
	 background-color: #f1f1f1;
	 padding: 60px 10px;
	 transition: 0.4s;
	 position: fixed;
	 width: 100%;
	 top: 0;
	 z-index: 99; 
	 display: flex;
	 align-items: center;
	 justify-content: space-around;
}

#menu ul li{
	list-style: none;
	float:left;
	margin:20px;
}

#menu ul li a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	padding: 12px;
	border-radius: 4px;
}
#menu ul li a:hover {
	background-color:dodgerblue;
	color: white;
}
#navigation #logo{
	font-size: 35px;
	font-weight: bold;
	transition: 0.4s;
	text-decoration: none;
	color: dodgerblue;
	
}
main {
	height: 1200px;

}
main .section1{
	height: 50%;
	background-color: dodgerblue ;
}
main .section2{
	height: 50%;
	background-color: green;
}
main .section3{
	height: 40%;
	background-image: url("./back.jpg" );
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
footer{
	margin-top: 70em;
	height: 150px;
	background-color: black;
} 
#skillText{
	padding-top: 40px;
	text-align: center;
	color: white;
}
.imagessss{
	display: flex;
	justify-content: space-between;
}
.imagessss img:hover{
	cursor: pointer;
	-ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.sec3Image{
	background: transparent;
	fill: none;
	width: 10em;
	height: 8em;
	margin: 5%;
}
.slide{
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	width: 100%;
	height: 38em;
}

#contact{
    position: relative;
}
#contact p{
    position: relative;
	top: 40px;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.2rem;
    border-radius: 5px;
    font-size: 1.1rem;
    height: 44px;
} 
#contact-box form{
    width: 40%;
}
#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}

p{
    text-align: center;
    font-size: 34px;
}
#footer{
	color:#f1f1f1;
	text-align: center;
	position: relative;
	top: 150px;
	margin: 0;
}
.box {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 250px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .box-content {
	margin: auto;
	display: block;
	width: 100%;
	max-width: 300px;
  }/* The Close Button */
  .close {
	position: absolute;
	top: 125px;
	right: 35px;
	color: white;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
  }

  #navigation #menu ul li a.active{
	background-color: #1a35e3;
	transition: 0.3 ease background-color;
  }
  #navigation #menu ul li a.active{
	color: white;
  }